.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    overflow: hidden;
}

.projects-container{
    max-width: 80vw;
    width: 500px;
    margin-bottom: 10px;
    max-height: 80vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.card{
    width: 400px;
    max-width: 74vw;
}