.arrow {
    box-sizing: border-box;
    margin-bottom:10px;
    height: 5vw;
    width: 5vw;
    max-height: 50px;
    max-width: 50px;
    border-style: solid;
    border-color: black;
    border-width: 0px 1px 1px 0px;
    transform: rotate(45deg);
    transition: border-width 150ms ease-in-out;
  }
  
  .arrow:hover{
    cursor: pointer;
    border-bottom-width: 4px;
    border-right-width: 4px;
  }